@model IEnumerable<Testing.BLL.ViewModels.UserModel>

@{
    ViewBag.Title = "Index";
}

<section class="d-flex justify-content-around">

    <div class="text-light w-25 d-flex flex-column justify-content-center">
        <h1 class="text-center">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
        </h1>
        <h1 class="text-center">
            Welcome Admin
        </h1> <br>
        <h4 class="text-center">Online User Portal <i class="fa fa-users" aria-hidden="true"></i> </h4>
        <a href="/Authentication/Logout" class="w-25 mx-auto mt-3 btn btn-dark shadow">Logout</a>
    </div>

    <div class="bg-light w-75 ml-auto p-3 text-dark shadow-lg" style="height:100vh;overflow-y:scroll">
        <div class="m-0 row">
            <h4 class="px-2" style="vertical-align:middle">List of Users</h4>
            <a href="/User/Create/" class="btn btn-primary shadow">+ Creat New</a>
        </div>

        <hr />

        <table class="table table-striped rounded shadow">
            <thead class="bg-primary text-light rounded">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model) {
                <tr>
                    <td class="pt-4">
                        @item.Name
                    </td>
                    <td class="pt-4">
                        <span style="opacity:0.7">+91&nbsp;</span>@item.Phone
                    </td>
                    <td>
                        <a href="/User/Edit/@item.UserId"
                           class="btn btn-primary shadow">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="/User/Delete/@item.UserId"
                           class="btn btn-danger shadow">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        <a href="/User/Details/@item.UserId"
                           class="btn btn-success shadow">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                        </a>

                    </td>
                </tr>
            }

        </table>

    </div>

</section>
